!!!
%html
  %head
    %title TireBlog
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tag
  %body
    .nav
      = link_to 'All posts', posts_path
      = form_tag search_posts_path, :method => 'GET' do
        Search:
        = text_field_tag :text
        
    .content
      = yield

